.site-menubar-body {
	height: 100%;
	padding-top: 10px;
}

.basic-form {
	max-width: 600px;
}

.basic-form input, select {
	max-width: 300px;
}

.form-inline {
	margin: -5px -10px;
}

.form-inline .form-group {
	margin: 5px 10px;
}

.dropzone {
	border: none;
	max-width: 400px;
	background-color: #f0f0f0;
	margin-bottom: 20px;
	text-align: center;
}

.dropzone .dz-message {

}

.dropzone .dz-message .icon {
	font-size: 35px;
	margin-bottom: 8px;
}